#ambiente{
	width: 100%;
	height: 636px;
	background: url(../imgs/brindar.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	
}

.ambiente{
	width: 100%;

}

.ambiente h2 {
	font-size: 40px;
 	font-family: 'Lobster', cursive;
 	color: #fff;
 	float: right;
 	margin-top: 180px;
 	padding: 10px 50px 10px 5px;
 	background-color: rgba(255,255,255,0.6);
}

.descripcion{
	text-align: justify;
	width: 30%;
	margin-top: 180px;
	padding: 10px 10px;
	float: right;
	background-color: rgba(255,255,255,0.6);
}
