#interior{
	width: 100%;
	background: url(../imgs/interior-alto.jpeg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}
.interior{
	width: 100%;
}
.interior h2 {
	font-size: 40px;
 	font-family: 'Lobster', cursive;
 	color: #fff;
 	float: left;
 	margin-top: 180px;
 	padding: 10px 50px 10px 5px;
 	background-color: rgba(255,255,255,0.6);
}
.des-interior{
	text-align: justify;
	width: 30%;
	margin-top: 180px;
	padding: 10px 10px;
	float: left;
	background-color: rgba(255,255,255,0.6);
}
