@import url('https://fonts.googleapis.com/css?family=Roboto:700');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
:target
{
    padding-top: 100px ;
    margin-top: -100px ;
}
#contacto:target{
    margin-top: 0 ;
    padding-top: 0 ;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    transition: .5s;
    z-index: 100;
}
nav.black{
    background: rgba(0,0,0,.9);
    height: 80px;
    padding: 10px;
}
nav .logo
{
    float: left;
}

nav .logo img
{
    height: 80px;
} 
nav ul
{
    float: right;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav.black ul li a{
    line-height: 60px;
}
nav ul li a:hover{
    color: #262626;
    background: #f00;
}
section[class^="sec"]{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.sec1{
    height: 100vh;
    background: url(../imgs/interior-alto.jpeg);
}
.lakomba{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.lakomba h1{
    padding: 1rem;
    font-family: "Leckerli One";
    text-align: center;
    font-size: 7em;
    text-shadow: white 2px 2px;

}
.sec2{
    height: 75vh;
    background: url(../imgs/interior-escalera.jpeg);
}

.sec3{
    height: 75vh;
    background: url(../imgs/patio2.jpeg);
}
.footer{
    height: 75vh;
    background: #262626;
}

.content{
    display: grid;
    grid-gap: 1em;
    padding: 1rem;
    background-color: #fafafa;
}
.text{
    padding: 1rem 2rem;
    border-radius: .25rem;
    box-shadow: 0 2px 16px -2px rgba(0,0,0,.15);
    background-color: #fff;
}
.images{
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 16px -2px rgba(0,0,0,.15);
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.images img{
    width: 250px;
    height: 250px;
    margin: .2em;
    border-radius: .25rem;
    object-fit: cover;
    filter: brightness(70%);
    transform: scale3d(1, 1, 1);
    transition: transform 0.15s ease 0s;
}
.images img:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    filter: brightness(100%); 
}

.content h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}
.content p{
    margin: 20px 0 0;
    font-size: 1rem;
    line-height: 1.5;
}
.mapa{
    color: #fff;
}
.mapa h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
}
.mapa p{
    margin: 20px 0 0;
    font-size: 1rem;
    line-height: 1.5;
}
.gmap{
    width: 100%;
}
.responsive-bar{
    display: none;
}
@media (max-width: 768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background:  rgba(0,0,0,.9);
        position: fixed;
        top:0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 101;
    }
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        line-height: 50px;
    }
    nav.black{
        background: rgba(0,0,0,.9);
        height: 60px;
    }

    nav ul{
        position: absolute;
        width:100%;
        top: 60px;
        left: 0;
        background: rgba(0,0,0,.9);
        float: none;
        display: none;
    }

    nav ul.active{
        display: block;
    }

    nav ul li{
        width: 100%;
    }

    nav ul li a{
        display: block;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
    }
    .lakomba h1{
        font-size: 5em;
    }
    :target{
        padding-top: 80px ;
        margin-top: -80px ;
    }
    #contacto:target{
        margin-top: 0 ;
        padding-top: 0 ;
    }
}